.App {
  text-align: center;
  margin: 10px auto;
}

:root {
  --main-bg-color: rgb(53, 53, 53);
  --main-bg-color-hover: rgb(255, 95, 37);
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  border-radius: 50%;
  transition: all .2s;
}

img:hover {
  transform: rotateY(90deg);
}

button {
  background-color: var(--main-bg-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all .2s;
}

button:hover {
  background-color: var(--main-bg-color-hover);
  transform: scale(0.9);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input {
  padding: 13px 32px;
  font-size: 16px;
  outline: 0;
}

.delete {
  background-color: var(--main-bg-color);
  display: inline-block;
  padding: 0px 8px 4px 8px;
  color: white;
  cursor: pointer;
  transition: all .2s;
}

.delete:hover {
  background-color: var(--main-bg-color-hover);
  transform: scale(0.9);
  cursor: pointer;
}

.btn-signIn {
  display: flex;
  justify-content: center;
}