* {
  text-align: center;
  margin: 0;
  /* height: 100vh; */
  /* width: auto; */
  font-size: 17px;
  letter-spacing: 1px;
}

:root {
  --main-bg-color: rgb(53, 53, 53);
  --main-bg-color-hover: rgb(255, 95, 37);
}

/* ---------------------Header ---------------------------- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-bg-color-hover);
  color: white;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
  padding: 6px 0 0 10px;
}

/* -----------------------Body ----------------------------------  */
.app_main_sign{
  display: flex;
  justify-content: center;
  padding-top: 20%;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
}

.sign {
  height: 300px;
  width: 300px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: var(--main-bg-color-hover);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* display: inline; */
}

/* ----------------------------Messages --------------------------  */
.messages_divs{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.messages_divs2{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.messages_divs--delete_edit{
  display: flex
}
.confirm_edit {
  margin-bottom: 10px;
}






/* ---------------------random ------------------------  */

ul {
  list-style-type: none;
  padding: 0;
}

img {
  border-radius: 50%;
  transition: all 0.2s;
  padding: 0px 4px 0px 0;
}

img:hover {
  transform: rotateY(90deg);
}

button {
  background-color: var(--main-bg-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s;
}

button:hover {
  background-color: var(--main-bg-color-hover);
  transform: scale(0.9);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input {
  padding: 13px 32px;
  outline: 0;
}

.delete,
.edit {
  background-color: var(--main-bg-color);
  display: inline-block;
  padding: 0px 8px 4px 8px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 3px;
  height: 24px;
}

.delete {
  margin-right: 5px;
}

.delete:hover,
.edit:hover {
  background-color: var(--main-bg-color-hover);
  transform: scale(0.9);
  cursor: pointer;
}

.btn-signIn {
  display: flex;
  justify-content: center;
}

span {
  margin: 5px;
  min-width: fit-content;
  font-size: 11px;
}

p {
  margin: 2px;
  min-width: fit-content;
}

.time {
  font-size: 10px;
}

.btn__confirm__edit {
  padding: 0;
}
